@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.login-all {
    height: 100vh;
    background: url('../img/BackgroundLogin.svg') no-repeat;
    width: 100%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerlogin {
    width: 400px;
    height: auto;
    display: flex-start;
    /* background: #7CABDA; */
    background: #FFFFFF;
    border-radius: 15px;
    border: 1px solid rgb(176, 174, 174);
}

.textbox {
    border: none;
    height: 30px;
    width: 280px;
    border-radius: 5px;
    padding: 0 10px;
}


.login-title {
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 32px;
    font-weight: 100;
    color: #5ea9cc;
}

.login-deatail p {
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #5ea9cc;
}

.login {
    list-style: none;
}

.login li a {
    text-decoration: none;
    font-size: 12px;
    margin-left: 15px;
}

.login-username h2 {
    margin-top: 10px;
    font-size: 12px;
    color: #5ea9cc;
}

.login-password h2 {
    margin-top: 10px;
    font-size: 12px;
    color: #5ea9cc;
}

.btn-submit {
    margin-top: 20px;
    color: #FFFFFF;
    color: hwb(0 0% 100%);
    width: 280px;
    height: 30px;
    border-radius: 5px;
    text-decoration: none;

}

.btn-submit p {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 400;
}

span {
    font-size: 12px;
    margin-right: 135px;
}

.login-register {
    height: auto;
    margin-top: 25px;
    font-size: 12px;
    margin-left: 15px;
    color: #5ea9cc;

}



.or-title {
    margin-top: -150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DEDBDB;
}

.or-title h3 {
    font-weight: 400;
    font-size: 16px;
}


.login-with {
    margin-top: -75px;
}

.login-with a {
    background: #FFFFFF;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    /* justify-content: space-between; */
    display: flex;
    align-items: center;
    font-size: 12px;
}

.login-google {
    margin-left: 420px;
    width: 250px;
    height: 30px;
    margin-top: 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
}

.login-gmail {
    margin-left: 420px;
    width: 250px;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
}

.login-facebook {
    margin-left: 420px;
    width: 250px;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
}

.login-apple {
    margin-left: 420px;
    width: 250px;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
}

.login-google img {
    margin-right: 10px;
}

.login-gmail img {
    margin-right: 10px;

}

.login-facebook img {
    margin-right: 10px;

}

.login-apple img {
    margin-right: 10px;

}