@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.register {
    height: 100vh;
    width: 100%;
    background: url('../img/BackgroundLogin.svg') no-repeat;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-forms{
    width: 450px;
    height: auto;
    border-radius: 15px;
    background: #ffffff;
    
}
.create-title {
    width: 450px;
    height: 90px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-title h1 {
    font-size: 28px;
    color: #5ea9cc;
}


.create-register {
    width: 450px;
    height: auto;
    color: #5ea9cc;
}

.create-password {
    margin-top: 20px;
}
.create-register p {
    margin-left: 35px;
    margin-top: 0px;
    font-size: 14px;
}

.textboxregister {
    width: 380px;
    height: 40px;
    margin-left: 35px;
    border-radius: 5px;
    margin-top: 0px;
}

.btn-continue {
    margin-top: 30px;
}

.btn-continue li {
    list-style: none;
    margin-top: 5px;
    margin-left: 35px;
}

.btn-continue li a{
    text-decoration: none;
    color: #FFFFFF;
}

.btn-submitregister {
    width: 185px;
    height: 50px;
    margin-left: 35px;
    font-size: 20px;
    background: #ffffff;
    color: #FFFFFF;
    border-radius: 5px;
    
}
.login-registers {
    height: 30px;
}
.btn-submitregister h1{
    font-size: 20px;
    font-weight: 400;
    margin-right: 2rem;
}

span {
    margin-left: 35px;
}
